html, body {
  margin: 0;
}

* {
  --main-color: blue;
}

.sidebar {
  background-color: var(--main-color);
  color: aliceblue;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.logo {
  font-size: 24px;
}

.logo img {
  max-height: 40px;
  margin-right: 10px;
}

.icon {
  margin-right: 30px;
  filter: invert(1);
  max-height: 20px;
}